.card {
  padding: 1em;
  margin: 0.2em;
}

.card-title {
  color: #386ca4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}

.group-by {
  margin-top: 1em;
  margin-right: 0.075em;
  margin-left: 0.1em;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: normal;
}
